td.unopened {
  background-color: #B9B9B9;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-right: 3px solid #757575;
  border-bottom: 3px solid #757575;
  cursor: pointer;
}
td.opened {
  border: 1px solid #757575;
  padding: 2px;
  background-color: #B9B9B9;
}
td.flagged {
  background-image: url('img/flag.svg');
}
td.question {
  background-image: url('img/question.svg');
}
td.mine {
  background-image: url('img/mine.png');
  background-size: 80% auto;
}
/* td.mine-neighbour-1 {
  background-image: url('img/1.svg');
}
td.mine-neighbour-2 {
  background-image: url('img/2.svg');
}
td.mine-neighbour-3 {
  background-image: url('img/3.svg');
}
td.mine-neighbour-4 {
  background-image: url('img/4.svg');
}
td.mine-neighbour-5 {
  background-image: url('img/5.svg');
}
td.mine-neighbour-6 {
  background-image: url('img/6.svg');
}
td.mine-neighbour-7 {
  background-image: url('img/7.svg');
}
td.mine-neighbour-8 {
  background-image: url('img/8.svg');
} */

table {
  border-spacing: 0;
}

table td {
  width: 40px;
  height: 40px;
  vertical-align: center;
  font-size: 24px;
  border: none;
  text-align: center;
  background-size: 50% auto;
  background-position: center;
  background-repeat: no-repeat;
}